<h1>Editing job #<%= @job.id.to_s %></h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :input_file %><br />
    <%= f.text_field :input_file %>
  </p>
  <p>
    <%= f.label :input_type %><br />
    <%= f.text_field :input_type %><br />
  </p>
  <p>
    <%= f.label :output_type %><br />
    <%= f.text_field :output_type %><br />
  </p>
  <p>
    <%= f.label 'Restart job' %>
    <%= check_box_tag 'job[state]', value='queued', checked = false %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
