<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Created</th>
    <th>State</th>
    <th>Input Type</th>
    <th>Output Type</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.created_at %></td>
    <td><%= job.state %></td>
    <td><%= job.input_type %></td>
    <td><%= job.output_type %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <% unless job.state == 'processing' %>
      <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %> | 
<%= link_to 'Running jobs', jobs_path(:state => 'running') %> |
<%= link_to 'All jobs', jobs_path %>
