<h1>New job</h1>

<% form_for(@job, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :input_type %><br />
    <%= f.text_field :input_type %>
  </p>
  <p>
    <%= f.label :input_file %><br />
    <%= f.text_field :input_file %>
  </p>
  <p>
    <%= f.label :output_type %><br />
    <%= f.text_field :output_type %>
  </p>
  <p>
    <%= f.label :output_file %><br />
    <%= f.text_field :output_file %>
  </p>
  <p>
    <%= label_tag 'Select File' %><br />
    <%= file_field 'data', 'datafile' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>
